[package]
name = "crash-tracer-common"
edition.workspace = true
version.workspace = true
license.workspace = true


[features]
default = []
user = ["aya"]

[dependencies]
aya = { git = "https://github.com/aya-rs/aya", optional = true }

[lib]
path = "src/lib.rs"
